.absolute-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.max-width {
  width: 80%;
  margin: auto;
}
.cur-po {
  cursor: pointer;
}

.heading-gradient {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(190, 11, 78, 1) 2%,
    rgba(0, 212, 255, 1) 79%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
